.due code {
    background-color: rgba(232, 74, 80, .2);
    color: #E84A50;
    float: right;
    opacity: 15%;
    border: none !important;
    /* line-height: 2.3; */
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px
}
.check-rem {
    padding-top: 5px
}

.card-map .ant-card-body{
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.card-chart .ant-card-body{
    padding-left: 15
}
.info-card .ant-card-body{
    padding-right: 0;
    text-align: left;
}
.info-card .ant-card-body .row-1 span{
    font-size: 14px
}
.info-card .ant-card-body .row-2 {
    margin-top: 14px;
    font-size: 26px;
    line-height: 1.1;
    font-weight: 300;
}
.info-card .ant-card-body .row-3 {
    padding-bottom: 16px;
    margin-top: 10px;
    color: #52c41a;
    font-size: 20px;
}


.due {
    padding: 0 !important
}

.name {
    font-weight: 500;
}